# SPDX-License-Identifier: GPL-2.0
# v11: 无指纹/NFC 硬件,关闭噪音项
# CONFIG_MICROTRUST_FP_DRIVER is not set
# CONFIG_FPC_FINGERPRINT is not set
# CONFIG_FOCALTECH_FINGERPRINT is not set
# CONFIG_NFC is not set
# CONFIG_IKHEADERS is not set

# 生产化
# CONFIG_DEBUG_PREEMPT is not set

# TEE 全家(Keymaster/DRM 依赖,勿拆)
CONFIG_TEE=y
CONFIG_MICROTRUST_TEE_SUPPORT=y
CONFIG_MICROTRUST_TEE_VERSION="300"
CONFIG_MICROTRUST_TZ_DRIVER=y
CONFIG_MICROTRUST_DYNAMIC_CORE=y
CONFIG_MICROTRUST_VFS_DRIVER=y
CONFIG_MICROTRUST_KEYMASTER_DRIVER=y
CONFIG_MICROTRUST_TZ_LOG=y

# 防御纵深
CONFIG_ARM64_SW_TTBR0_PAN=y

# ION secure heap(Widevine L1 链)
CONFIG_MTK_SECURE_MEM_SUPPORT=y
